@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string ex4 = "";

    using (StreamReader sr = new StreamReader(Directory.GetCurrentDirectory() + "\\appsettings.json"))
    {
        ex4 = sr.ReadToEnd();
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>EX 2</h1>

<h4>Hello, World!</h4>

<h1>EX 3</h1>

<h4>Date: @DateTime.Now.ToString(@"dd.MM.yyyy mm:hh")</h4>

<h1>EX 4</h1>

<h4>@ex4</h4>